@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
#main-content-share-code{

		background-color: #6C555D;
		padding-top:1em;
		padding-left:8px;
		position: relative;
	 #code{
	 	font-family: 'Source Code Pro', sans-serif;
	 	width:100%;
	 	border:none;
	 	outline: 0;
	 	background-color:#6C555D;
	 	color:white;
	 	resize:none;
	 	font-size: 14px;
	 	overflow: hidden;
	 	min-height: 400px;
	 	
 	}

 	.nav{

 		position: absolute;
		top:10px;
		right: 10px;
 	}

	label{

		color:white;
	}
 }

